# Python
__pycache__/
*.pyc

# PyPI
dist/
build/
*.egg-info/
*.manifest

# Experiments
tmp/
.idea/

# Jupyter notebook
.ipynb_checkpoints/

# Data
*.pdf
*.sql
*.json
*.dill
*.pk
*.bin
*.html
*.png
*.csv
*.h5